@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

/* common features */
section {
  padding: 5rem 0rem;
}
.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.cta-btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0.8rem;
  font-weight: 700;
  line-height: 1;
}
.cta-btn:hover {
  background-color: var(--accent-color-1);
  color: white;
}
img {
  padding: 5px;
}

/* NAVBAR */
.navbar {
  background-color: var(--primary-color);
}
.navbar-nav {
  margin-bottom: 1em;
  padding-left: 0;
  margin-left: 5em;
}
.nav-item {
  display: inline-flex;
  margin: 0;
}
.nav-link {
  text-decoration: none;
  padding: 1em;
  background-color:var(--primary-color);
  color: white;
}
.nav-link:hover {
  background-color: var(--accent-color-1);
  color: white;
}

/* INTRODUCTION */
#intro {
  min-height: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: white;
  font-weight: 400;
  color: black;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
}
.intro-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: left;  
}
.intro-title span {
  color: var(--primary-color);
}
.cta-btn-intro {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  border-image-slice: 1;
}

/* ABOUT ME */
#about {
  background-color:var(--secondary-color);
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--accent-color-1) 100%
  );
  color: white;
  height: 100%;
  border-top: 0px;
  padding-bottom: 10%;
}
#profile-pic {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* margin-left: 5rem; */
}
#info {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.cta-btn-resume {
  color: white;
  border: 2px solid white;
}

/* EXPERIENCE */
.card {
  height: 60vh;
  background-color: var(--secondary-color);
  margin-right: 1rem;
}
.card-text {
  height: 120px;
}
.cta-btn-card {
  line-height: 0.5;
  color: black;
  border: 2px solid black;
  background-color: var(--accent-color-1);
}

/* PROJECTS */
#projects {
  background-color:var(--secondary-color);
  background-image: linear-gradient(
    135deg,
    var(--secondary-color) 0%,
    var(--accent-color-2) 100%
  );
}
#projects h2 {
  color: white;
}
.project {
  margin-bottom: 5rem;
}
.project .row {
  margin-bottom: 5rem;
}
.project-title {
  font-weight: bold;
  margin-bottom: 1.8rem;
  font-size: 2rem;
}
.project-image {
  width: 80%;
  margin: 0 auto;
}
.cta-btn-project {
  line-height: 0.5;
  color: black;
  border: 2px solid black;
  background-color: var(--accent-color-2);
}

/* CONTACT ME */
.contact-bg {
  position: relative;
  background:url('') no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}
.cta-btn-submit {
  background-color: var(--secondary-color);
  border: 2px solid black;
}
#contact .row {
  margin-bottom: 1rem;
}
.form-control {
  border: 2px solid var(--primary-color);
}

/* FOOTER */
.footer {
  padding: 50px 0;
}  
.footer-icon {
  font-size: 50px;
  color: var(--primary-color);
}
.footer-icon:hover {
  font-size: 60px;
  color: var(--accent-color-1);
}

@media (max-width: 768px) {
  .project {
    margin-bottom: 2rem;
  }
  #projects .row{
    margin-bottom: 2rem;
  }

  .about-pic {
    margin-bottom: 2rem;
  }
}

    
  