:root {
--primary-color: rgb(97, 118, 75);
--secondary-color: rgb(155, 161, 123);

--accent-color-1: rgb(207, 185, 151);
--accent-color-2: rgb(250, 214, 165);
}

/* source:
https://colorhunt.co/palette/61764b9ba17bcfb997fad6a5 */